body {
	font-family: arial, helvetica, sans-serif;
	margin: 0;
	background: #e3e3e3;
}

h1, h2, h3, h4, h5, h6 {
	color: #3d3d3d;
	margin: 0 0 20px 0;
}

a {
	color: #346eb7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.header {
	width: 100%;
	background: #ffffff;
	border-bottom: solid 1px #e7e7e7;
}

.logo {
	display: block;
	margin: 0 auto;
	padding: 10px 0;
	height: 120px;
	margin-bottom: -35px;
}

.top {
	background: #ffffff;
	padding: 5px 0;
	margin-bottom: 20px;
	border-bottom: solid 1px #e7e7e7;
}

.top h1, p, nav {
	margin: 10px auto;
	width: 900px;
}

.section {
	display: block;
	margin: 0 auto;
	width: 900px;
}

.supported-browsers .browsers-list {
	margin: 0 auto;
	width: 550px;
}

.supported-browsers .browsers-list li {
	margin: 0 20px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
}

.supported-browsers .browsers-list li img {
	margin-bottom: 10px;
}

.fade-in {
	display: block!important;
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}