body {
	font-family: sans-serif;
	margin: 0;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #3d3d3d;
	margin: 0 0 20px 0;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

a {
	color: #346eb7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	height: 1px;
	border: none;
}

.header {
	width: 100%;
	background: #ffffff;
	border-bottom: solid 1px #e7e7e7;
	margin-bottom: 40px;
}

.header nav, .header ul {
	margin: 0;
	padding: 10px;
}

.header nav li {
	list-style: none;
	margin: 0 10px;
	padding: 0;
	display: inline-block;
}

.logo {
	display: block;
	margin: 0 auto;
	padding: 10px 0;
	height: 120px;
	margin-bottom: -35px;
}

.home {
	background: #ffffff;
	padding: 5px 0;
	margin-bottom: 20px;
}

.home h1, p {
	margin: 10px auto;
	width: 700px;
}

.section {
	display: block;
	margin: 0 auto;
	width: 700px;
}

.info {
	width: 420px;
	margin: 40px auto;
	text-align: center;
}

.info .twitter {
	color: #55ACEE;
	font-size: 12px;
	line-height: 40px;
}

.box {
	height: 50px;
	border-radius: 5px;
	overflow: hidden;
	line-height: 50px;
	font-size: 20px;
	position: relative;
	display: inline-block;
	padding-right: 20px;
}

.box i {
	background: #a0a0a0;
	opacity: .4;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	display: inline-block;
	float: left;
	margin-right: 20px;
}

.box.download {
	color: #ffffff;
	background: #4ae792;
}

.box.github {
	background: #e7e7e7;
	color: #808080;
}

.features li b {
	display: block;
	margin-bottom: 5px;
}

.features li {
	display: block;
	background: #f9f9f9;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
	color: #3d3d3d;
}

.fade-in {
	display: block!important;
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}